body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

#dashboard, #explorer-info {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #333;
    color: white;
}

.check {
    height: 25px;
    width: 9px;
    border-bottom: 10px solid #333;
    border-right: 10px solid #333;
    transform: rotate(45deg);
    margin: 20px;
}